.wheel-section-0 {
    transform: rotate(0deg) skewY(-45deg);;
}

.wheel-section-1 {
    transform: rotate(45deg) skewY(-45deg);;
}

.wheel-section-2 {


    transform: rotate(90deg) skewY(-45deg);




}


.wheel-section-3 {
    transform: rotate(135deg) skewY(-45deg);;
}

.wheel-section-4 {

    transform: rotate(180deg) skewY(-45deg);






}

.wheel-section-5 {

    transform: rotate(225deg) skewY(-45deg);;
}

.wheel-section-6 {
    transform: rotate(270deg) skewY(-45deg);;
}

.wheel-section-7 {
    transform: rotate(315deg) skewY(-45deg);;
}


.text-0 {
    background-color: crimson;
}

.text-1 {
    background-color: mediumblue;
}

.text-2 {
    background-color: darkgreen;

}

.text-3 {
    background-color: cornflowerblue;

}

.text-4 {
    background-color: blueviolet;

}

.text-5 {
    background-color: hotpink;

}

.text-6 {
    background-color: midnightblue;

}

.text-7 {
    background-color: yellowgreen;
}


.circle {
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.text {
    position: absolute;
    left: -100%;
    right: -200%;
    height: 200px;
    text-align: center;
}
